:root {
  font-family: -apple-system;
}
textarea {
  background: #EEF2F7;
  padding: 6px;
  height: 25px;
  width: 175px;
  border-radius: 5px;
border: 0px;
}
button {
  background: #0c76f7;
  height: 33px;
  color: white;
  border-radius: 24px;
}
